spring.application.name=kyc-backend
spring.datasource.url=jdbc:mysql://localhost:3306/kyc
spring.datasource.username=root
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
app.security.key=
